@model WebServerPropertyPrj.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaseLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaseLength)
        </dd>

    </dl>
</div>
<p>
</p>
