@model WebServerPropertyPrj.Models.Contact_Report
@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>
<div>
    <h4>Contact_Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToUserId)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Reply", "ReplyMessage", new { id = Model.FromUserId }) |
    @Html.ActionLink("Go Back to Inbox", "GetInbox", "Contact_Report", new { id = Session["userid"] }, null)
</p>
